@font-face {
    font-family: 'Anthony';
    src:	url('type/Anthony.eot') format('eot'), 
    		url('type/Anthony.woff') format('woff'), 
    		url('type/Anthony.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Barlow';
    src:    url('type/Barlow-elasticc.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'BarlowBois';
  src:    url('type/Barlow-TypoDesBois.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Barlaxent';
  src:    url('type/Barlaxent.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gozette';
  src:    url('type/Goozette.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Linea';
  src:    url('type/Linea.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Minipax';
    src:	url('type/Minipax-Bold.eot') format('eot'), 
    		url('type/Minipax-Bold.woff') format('woff'), 
    		url('type/Minipax-Bold.woff2') format('woff2');
    font-weight: bolder;
    font-style: normal;
}



@font-face {
  font-family: 'Fourmi';
  src:	url('type/FOURMI-light.otf') format('opentype');
  font-weight: light;
  font-style: normal;
}

@font-face {
    font-family: 'Minipax';
    src:	url('type/Minipax-Regular.eot') format('eot'), 
    		url('type/Minipax-Regular.woff') format('woff'), 
    		url('type/Minipax-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Minipax';
    src:	url('type/Minipax-Medium.eot') format('eot'), 
    		url('type/Minipax-Medium.woff') format('woff'), 
    		url('type/Minipax-Medium.woff2') format('woff2');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Minipax';
    src:	url('type/Minipax-SemiBold.eot') format('eot'), 
    		url('type/Minipax-SemiBold.woff') format('woff'), 
    		url('type/Minipax-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


button {
  background-color: transparent;
  color: black;
  border: 0px solid ;font-family: 'Minipax';
  font-weight: bold;
  font-size: large;
  padding-top: 10px;
}

.menu {
  width: 100%;
  text-align: right;
  position: sticky;
  top: 0;
  right: 10px;
  z-index: 10;
  line-height: 2.5em;
}

.wrapper {
  margin-left: 10%;
 }
 .wrapperintro {
  margin-left: 5%;
  display: flex;
 }

.printonly {display: none;}
.htmllinks {display: none;}

img{
 width: 300px;
  height: auto;
  border-radius: 0%;


  
  }

body {
  margin-top: 0;
margin-bottom: 10%; 
}
#homeLink :hover{
  color: blue;
  background-color: pink;
}


#photo {
  border-radius: 20%;

  border: 0.1cm blue dotted;

}
h1 {font-family: 'Gozette';  
    font-size: 5em; line-height: 1em; margin-bottom: 1em;

    text-indent: 1cm;
  }

h2 {font-family: 'BarlowBois';
    font-weight: lighter; 
    margin-bottom: 0.5em;
    color: blue;
    padding: 0px;
    font-size: 0.5em;
}
h3 {font-family: 'Minipax';
    font-weight: lighter; 
    margin-bottom: 0.5em;
    padding: 0px;
    font-size: 0.5em;
}

p { 
  padding: 0px;
  font-family: 'Minipax';
  font-weight: normal;
  font-size: 1em;
  margin: 0px;
  padding-bottom: 1em;
}

a:link {
  text-decoration: blink;
}
a:visited {
  text-decoration: blink;
  color: black;
}
a:hover {
  text-decoration: none;
  font-family: 'Barlow' ;
}
a:active {
  text-decoration: none;
}

.gradientonscreen{
  background: linear-gradient(to right, blue, orange, yellow, green, blue, indigo, violet);
  padding-right: 5px;
  padding-left: 5px;
  color: white;
}

@media screen and (min-width: 900px) {
  h1 {font-size: 7em;}
  h2 {font-size: 4.5em; line-height: 1em; }
  h3 {font-size: 1.5em; }
  p {width: 90%; }
  .cell{width: 75%;}
  .content{}
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  h1 {font-size: 5em;}
  h2 {font-size: 2em; line-height: 1em; }
  h3 {font-size: 1.5em;}
  .content{}
  .menu {background: linear-gradient(to bottom, white 80%, transparent);}
}
@media screen and (min-width: 100px) and (max-width: 500px) and (orientation: portrait) {
  h1 {font-size: 3.5em;}
  h2 {font-size: 2em; line-height: 1em; }
  h3 {font-size: 1.5em;}
  .content{width: 95%;}
  .menu {background: linear-gradient(to bottom, white 70%, transparent);}
}

.box {
  background-color: rgb(220, 220, 220);
  border: 4cm pink;
  border-radius: 20px;

  width: 500px;
  margin-left: 70px;
  margin-bottom: 50px;
  padding: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;

}
#myCanvas{
  border-radius: 90%;
  
  width:300px;
  height:300px;
}
@media screen and (min-width: 100px) and (max-width: 800px)
{
  
#myCanvas{
  border-radius: 20%;
  padding-right: 20px;
  
  width:200px;
  height:200px;
}
h1 {
  font-size: 50px;

}
#photo {
  height: 100px;
  border-radius: 20%;
 
}
}