.TP {color: black; text-decoration: underline;}
.BT {color: black;}

.TOP {}
.BTM {display: none;}

h1 {color: blue;   }
h1:hover {
  color: hotpink;
}
h2 {color: rgb(249, 0, 124)}
h4 {color: dimgray;}
p {color: dimgray;}
li {color: dimgray;}

a:link {
  color: hotpink ;
  text-decoration: blink;
}
a:visited {
  color: hotpink;
  text-decoration: blink;
}
a:hover {
  color: blue;
  background-color: hotpink;
}
a:active {
  color: dimgray;
}

body{
	background: linear-gradient(to left, rgb(0, 64, 255) 20%, white, white, white, white, white, white, white, white, white, white, white, white, white, grey);
}


